/*
Estilos da pagina index
*/

body {
  background-color: #818aa3;
  width: 100%;
  margin: 0;
  border: 0;
}

body form {
  flex-direction: column;
  padding-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-family:"Dosis", sans-serif ;
}

.endereco{
    margin-left: 10px;
  font-size: 20px;
  font-family:"Dosis", sans-serif ;
  
}

.contato {
  /* text-align: center; */
  font-size: 30px;
  margin-top: 50px;
  font-family: "Playwrite CO", cursive;
  font-size: 50px;
  margin-left: 10px;
}

#menu {
  text-align: right;
  background: rgba(247, 111, 142, 0.54);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(247, 111, 142, 0.3);
  position: fixed;
  right: 0;
  margin-top: 30px;
  font-family:"DM Serif Display", serif ;
  /* font-size: 40px; */
}

#menu li {
  display: inline;
  padding: 30px;
  font-size: 20px;
}

#menu li a {
  text-decoration: none;
  color: black;
}

#menu li a:hover {
  color: gray;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 100px;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  font-family: "Playwrite CO", cursive;
  font-size: 50px;
}

.about {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-family: "Dosis", sans-serif;
}

.center {
  text-align: center;
  width: 900px;
}

.imagens {
  padding-left: 100px;
}
.p-30 {
  padding: 30px;
}

.br-50 {
  border-radius: 50%;
}

.wh-300 {
  width: 300px;
  height: 300px;
}

.video {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  font-family: "Playwrite CO", cursive;
  font-size: 50px;
}

.videos {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 100px;
  gap: 30px;
}

/*
Estilos da pagina index
*/
