/*
Estilos da pagina index
*/

body {
  background-color: #818aa3;
  width: 100%;
  margin: 0;
  border: 0;
}

body form {
  /* flex-direction: column; */
  
  padding-top: 10px;
  margin-left: 10px;
  font-family:"Playfair Display", seriff ;
}

#txtNome{
  font-family: sans-serif;
  margin-top: 5px;
}

#txtAssunto{
  font-family: sans-serif;
  margin-top: 5px;
}

#txtEmail{
  font-family: sans-serif;
  margin-top: 5px;
}


body label {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  
}

#nome{
  border: solid 2px rgba(247, 111, 142, 0.54);
  margin-top: 10px;
  font-size: 18px;
}

#email{
  border: solid 2px rgba(247, 111, 142, 0.54);
  margin-top: 10px;
  font-size: 18px;
}

#assunto{
  border: solid 2px rgba(247, 111, 142, 0.54);
  margin-top: 10px;
  font-size: 18px;
}


.contato{
  display: flex;
  margin: 0;
  border: 0;
  justify-content: center;
  
}

.title2 {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  font-family: "Playwrite CO", cursive;
  font-size: 50px;
  margin-bottom: 50px;
}

#menu {
  text-align: right;
  background: rgba(247, 111, 142, 0.54);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(247, 111, 142, 0.3);
  position: fixed;
  right: 0;
  margin-top: 30px;
  font-family:"DM Serif Display", serif ;
  /* font-size: 40px; */
}

#menu li {
  display: inline;
  padding: 30px;
  font-size: 20px;
}

#menu li a {
  text-decoration: none;
  color: black;
}

#menu li a:hover {
  color: gray;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  font-family: "Playwrite CO", cursive;
  font-size: 50px;
}

.about {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-family: "Playfair Display", serif;
}

.center {
  text-align: center;
  width: 900px;
}

.imagens {
  padding-left: 100px;
  border-radius: 50%;
  padding: 30px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.video {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  font-family: "Playwrite CO", cursive;
  font-size: 50px;
}

.videos {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 100px;
  gap: 30px;
}


.container2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  padding-top: 50px;
  margin-bottom: 100px;
}

.endereco{
  padding-left: 100px;
  margin: 0;
  border: 0;
  font-family: "Playfair Display", serif;
  font-size: 25px;
}

.endereco p {
  margin: 10px;
}

.endereco h3{
margin: 0 !important;
}

footer {
  /* padding: 24px; */
  text-align: center;
  font-size: 17px;
  background-color: black;
  color: white;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  padding: 0;
  margin: 0;
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 0px 0;
  font-size: 16px;
  

}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}


ion-icon{
  color: white;
} 

