/*
Estilos da pagina index
*/

.title{
    text-align:center;
    font-size: 30px;

}
.center{
    text-align:center;
    font-size: 20px;
}

.container {
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 30px; 
    font-size: 20px;
}

#menu li a {
    text-decoration: none;
    color: black;
}

#menu li a:hover{
    color: gray;
}

.p-30 {
    padding: 30px;
}

.br-50{
    border-radius: 50%;
}

.wh-300{
    width: 300px;
    height: 300px;

}
/*
Estilos da pagina index
*/